{% extends 'usuario/base_u.html' %}
{% load static %}
{% load humanize %}
{% url 'login' as login %}

{% block content %}
  <div class="col-12">
    {% if messages %}
    {% for message in messages %}
      <div class="alert mt-4">
        <button type="button" class="close text-light pt-4" data-dismiss="alert">x</button>
        <h3 class="text-light pt-4">{{ message }}</h3>
      </div>
    {% endfor%}
  {% endif %}
  </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          {% comment %} /static/img/comandos.jpg   {% endcomment %}
                        <img style="height: 225px;" src="/media/comandos.jpg" class="d-block w-100" alt="..." class="img-fluid">
                      </div>
                      <div class="carousel-item">
                          {% comment %} src="/static/img/fortnite.jpg"    {% endcomment %}
                        <img src="/media/fortnite.jpg" style="height: 225px; width: 300px;" class="d-block w-100" alt="..." class="img-fluid">
                      </div>
                      <div class="carousel-item">
                          {% comment %} src="/static/img/fondo-de-pantalla-juegos-5.jpeg" {% endcomment %}
                        <img src="/media/fondo-de-pantalla-juegos-5.jpeg" style="height: 225px; width: 300px;" class="d-block w-100" alt="..." class="img-fluid">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <section>
                      <div class="container" style="background-color:#1e3049;"><br>
                          {% comment %}
                        {% include 'games/snippets/search1.html ' %}
                      {% endcomment %}
                          <form action="{% url 'juego:search' %}" method="GET">
                          <div class="input-group">
                          <input type="text" name="q" id="" class="form-control" placeholder="Buscar" value="{{query}}">
                          <div class="input-group-append">
                          <input type="submit" value=" Buscar" class="btn btn-primary">
                          </div>
                          </div>
                          </form>

                      </div>
                  </section>

<br><br>
                <h1 style="    
    color: white;
    margin-bottom: 25px;">Editar Perfil</h1>
    <form method="post" enctype="multipart/form-data" style="
    color: white;
    padding: 52px;
    background: #114245;
    border-radius: 20px;
    font-size: x-large;
    margin-bottom: 50px; ">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Cambios</button>
    </form>
{% endblock%}
