{% extends 'base.html' %}

{% load static %}

{% block content %}
<body class="text-center registro" style="background-color:#19273a;">
<div class="container" style="
    display: flex;
    align-content: stretch;
    align-items: center;
    flex-direction: column-reverse;"><br><br><br><br>
  <div class="row justify-content-center" style="
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 30px;">
    <!-- registro.html -->
      <br>
      <h1 style="
    padding: 10px 225px;
    color: white;">REGISTRAR NUEVO USUARIO</h1>
<form method="post" enctype="multipart/form-data" style="
    margin: 30px;
    padding: 50px;
    background: #061d41;
    border-radius: 20px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrarse</button>
</form>
      <br>
  </div>
</div> 
</body>

{% endblock %}

